{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <h1>О нашем блоге</h1>
    <p>Добро пожаловать на "Блог хвостатые истории" — уютное онлайн-пространство, где владельцы собак делятся своими историями, маршрутами прогулок и тёплыми моментами.
        Здесь вы найдёте настоящие рассказы от людей, чьи питомцы стали не просто друзьями,
        а полноценными членами семьи. Мы собираем впечатления из разных уголков России — от городских улиц до диких горных троп.</p>
    
    <h2>Что вы найдёте у нас:</h2>
    <ul>
        <li>Настоящие истории владельцев собак</li>
        <li>Идеи для прогулок и путешествий с питомцем</li>
        <li>Теплую атмосферу и добрые фотографии</li>
        <li>Возможность поделиться своей историей</li>
        <li>Сообщество людей, которые любят собак так же сильно, как и вы</li>
    </ul>
    <p>Спасибо, что зашли!</p>
</div>
{% endblock %}