{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <div class="header-content">
            <h3 class="site-title">
                <span style="font-size: 32px; vertical-align: middle;">🐾</span>
                <a href="/">Блог хвостатые истории</a>
            </h3>
            <nav>
                <div class="menu">
                    <div><a href="{% url 'blog:index' %}">Главная</a></div>
                    {% if not user.is_authenticated %}
                        <div><a href="{% url 'users:login' %}">Войти</a></div>                        
                        <div><a href="{% url 'users:register' %}">Зарегистрироваться</a></div> 
                    {% else %}
                        <div><a href="{% url 'users:profile' pk=user.pk %}">{{user.username}}</a></div>
                        <div><a href="{% url 'blog:favorites_list' %}">Избранные Посты</a></div>
                        <div><a href="{% url 'users:logout' %}">Выход</a></div>
                    {% endif %}
                    <div class="menu-divider">|</div>
                    <div><a href="{% url 'blog:add_post' %}">Новый пост</a></div>
                    <div><a href="{% url 'blog:about' %}">О сайте</a></div>
                </div>
            </nav>
        </div>
    </header>
    {% if messages %}
        {% for message in messages %}
            <div class="message">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="container" style="display: flex; flex-direction: row;">
        <div style="flex: 1;">
            {% block content %}
            {% endblock content %}
        </div>
        <div class="important-block">
            <h4 class="important-title">О САМОМ ГЛАВНОМ!</h4>
            <ul class="important-list">
                <li><a href="{% url 'blog:health_dog' %}">Здоровье собак</a></li>
                <li><a href="{% url 'blog:eat_dog' %}">Питание собак</a></li>
                <li><a href="{% url 'blog:leash' %}">Подробнее о выборе поводка</a></li>
                <li><a href="{% url 'blog:cant_shout' %}">Нельзя кричать на собаку!</a></li>
                <li><a href="{% url 'blog:feedback' %}">Часто задаваемые вопросы</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Блог про хозяев и домашних собак. Все права защищены.</p>
    </div>
</body>
</html>