{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="dog-info-container">
    <h2 class="dog-info-title">
        <div class="dog-info-img">
            <img src="{% static 'img/cry.jpeg' %}" alt="dog health">
        </div>
        <span></span> Нельзя кричать на собаку!
    </h2>
    <p class="dog-info-desc">Не расшатывайте нервную систему собаки, это может грозить психическими расстройствами и отклонениями в поведении.</p>
    <div class="dog-info-blocks">
        <div class="dog-info-block">
            <p>Безусловно, источником стресса для собаки является насилие как физическое, так и эмоциональное. Совершенно недопустимо бить и кричать на животное, срывать свой гнев и раздражение на беззащитном существе, целиком и полностью зависящим от Вас. </p>
        </div>
        <div class="dog-info-block">
            <p>Источниками стресса у собак могут быть совершенно разные причины, это и изменения в их привычном укладе жизни, это и появление новых членов семьи в виде новых домашних животных или новорожденных детей, гости в доме, ссора в семье, громкие звуки, даже какие-то предметы, которые могут казаться собаке опасными, все это может вызвать стресс и эмоциональные переживания животного.</p>
        </div>
        <div class="dog-info-block">
            <p>Признаками стресса у собаки являются учащенные сердцебиение и дыхание, напряженные губы и мышцы вокруг глаз, расширенные зрачки, облизывание носа не так как после еды, сильное слюнотечение, частое зевание, опущенный и зажатый между задними лапами хвост, плохая концентрация внимания, отказ от пищи, поедание мусора и экскрементов, озноб и дрожь, потоотделение, непроизвольное мочеиспускание, желание скрыться в укромном месте, раздражительность и агрессивность, разрушительное поведение, чтобы снять стресс собака грызет вещи, лает, рычит и пр.</p>
        </div>
        <div class="dog-info-block">
            <p>Лечится стресс прежде всего удалением причины, вызывающей стресс. Так если собака страдает от одиночества - уделяйте ей больше внимания. Если собака не готова общаться с незнакомыми людьми – не заставляйте ее это делать. Главное лекарство от стресса – это успокоение собаки с помощью ласки, добрый слов, внимания. Нужно дать животному успокоится и побыть в укромном месте, можно сделать небольшой массаж, чтобы расслабить напряженное тело собаки.</p>
        </div>
    </div>
   
   
</div>
{% endblock %}
