{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="dog-info-container">
    <h2 class="dog-info-title">
        <div class="dog-info-img">
            <img src="{% static 'img/hg.jpg' %}" alt="dog health">
        </div>
        <span>Часто задаваемые вопросы</span> 
    </h2>
    <p class="dog-info-desc"></p>
    <div class="dog-info-blocks">
        <div class="dog-info-block">
            <b>1. Мясо индейки в составе корма плюсы и минусы</b>
            <p>Мясо индейки - это высококачественный источник белка, который легко усваивается и содержит все незаменимые аминокислоты, необходимые собакам для оптимального здоровья - это делает его отличным выбором для домашних животных с избыточным весом, имеющих тенденцию к набору веса или отличной альтернативой с пищевой аллергией или чувствительностью. Белок необходим для построения и восстановления тканей, поддержания мышечной массы и поддержки иммунной системы.
                Мясо индейки является постным источником белка с низким содержанием жира по сравнению с другими видами мяса, такими как говядина и свинина. А также богато необходимыми питательными веществами: железо, калий и витамины группы В, которую играют ключевую роль в поддержке иммунной системы, укреплении здоровья кожи и шерсти, а также в поддержании здоровья костей и зубов.

                </p>
        </div>
        <div class="dog-info-block">
            <b>2. Почему корма без глютена набирают популярность?</b>
            <p>Безглютеновые корма для собак становятся все более популярными в последние годы, и на то есть веские причины. Глютен — это белок, содержащийся во многих злаках, включая пшеницу, ячмень и рожь, и некоторые домашние животные могут быть к нему чувствительны или непереносимы. Непереносимость глютена может вызвать расстройство пищеварения, проблемы с кожей и другие проблемы со здоровьем у собак.
               В целом, кормление вашей собаки безглютеновой диетой имеет много преимуществ, включая снижение риска пищевой непереносимости, улучшение пищеварения, улучшение состояния кожи и шерсти, повышение энергии и жизненной силы, лучшее усвоение питательных веществ и большее разнообразие ингредиентов.</p>
        </div>
        <div class="dog-info-block">
            <b>3. Преимущества кормов без кукурузы для собак</b>
            <p>Кукуруза является широко используемым ингредиентом во многих кормах для домашних животных, но некоторые собаки могут быть к ней чувствительны или непереносимы. Корма без кукурузы являются отличной альтернативой для домашних животных, страдающих аллергией или непереносимостью кукурузы, и могут принести ряд преимуществ для их здоровья и благополучия.
               Диета без кукурузы дает много преимуществ, включая снижение риска пищевых аллергий и чувствительности, улучшение пищеварения, улучшение состояния кожи и шерсти, увеличение энергии и жизненной силы, лучшее усвоение питательных веществ и большее разнообразие ингредиентов.</p>
        </div>
        <div class="dog-info-block">
            <b>4. Корень цикория в кормах для собак</b>
            <p>Корень цикория — это тип растения, которое веками использовалось в традиционной медицине. В последнее время он приобрел популярность в качестве функционального ингредиента в кормах для домашних животных. Корень цикория содержит тип растворимой клетчатки, называемой инулином, который, как было показано, обеспечивает ряд преимуществ для здоровья кошек и собак.
                В целом, корень цикория является ценным функциональным ингредиентом в кормах для кошек и собак, обеспечивающим ряд преимуществ для здоровья домашних животных. Улучшая пищеварение, повышая иммунную функцию, способствуя контролю веса, снижая риск диабета, улучшая здоровье кожи и шерсти, а также улучшая вкусовые качества, корень цикория может помочь сохранить здоровье и счастье собак.</p>
        </div>
    </div>
   
   
</div>
{% endblock %}
