{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="dog-info-container">
    <h2 class="dog-info-title">
        <div class="dog-info-img">
            <img src="{% static 'img/med.jpg' %}" alt="dog health">
        </div>
        <span></span> Здоровье вашей собаки
    </h2>
    <p class="dog-info-desc">Здоровье собаки — залог долгой и счастливой жизни вашего питомца. Вот несколько советов по уходу за здоровьем:</p>
    <div class="dog-info-blocks">
        <div class="dog-info-block">
            <b>1. Регулярные осмотры у ветеринара</b>
            <p>Посещайте ветеринара не реже одного раза в год для профилактики и своевременного выявления заболеваний.</p>
        </div>
        <div class="dog-info-block">
            <b>2. Вакцинация и обработка от паразитов</b>
            <p>Следите за графиком прививок и регулярно обрабатывайте собаку от блох, клещей и глистов.</p>
        </div>
        <div class="dog-info-block">
            <b>3. Правильное питание и физическая активность</b>
            <p>Обеспечьте сбалансированный рацион и ежедневные прогулки для поддержания формы и настроения питомца.</p>
        </div>
        <div class="dog-info-block">
            <b>4. Уход за шерстью и зубами</b>
            <p>Регулярно расчёсывайте шерсть и чистите зубы, чтобы избежать проблем с кожей и полостью рта.</p>
        </div>
    </div>
   
   
</div>
{% endblock %}
