{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="leash-box">
    <div class="leash-img">
        <img src="{% static 'img/Dogs.jpeg' %}" alt="Поводок для собаки">
    </div>
    <div class="leash-text">
        <h3 style="color: #ffe082; margin-top: 0;">Выбор и использование поводка</h3>
        <p>Правильный выбор поводка — важная часть заботы о безопасности и комфорте вашей собаки. Обратите внимание на длину, материал и надёжность креплений. Для прогулок в городе подойдут короткие и прочные поводки, а для тренировок — длинные. Не забывайте регулярно проверять целостность поводка и подбирать его по размеру и темпераменту питомца.</p>
    </div>
</div>
{% endblock %}
